* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins" sans-serif;
  }
  body {
    background-color: #ffffff;
  }
  /* header */
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  main {
    padding: 10px 5%;
  }
  
  /* NAVBAR */
  .navbar {
    display: flex;
    /* justify-content: space-between; */
    padding: 10px 5%;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
    width: 30%;
  }
  .logo img {
    padding-right: 5px;
  }
  
  .logo h3 {
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
    line-height: 36px;
  }
  
  .logo h3 span {
    color: #3498db;
  }
  a{
    text-decoration: none;
    color: #373737;
    font-size: 20px;
    font-weight: 600px;

}
li{
    list-style: none;
}
/* hero search */
 .search {
    /* position: relative;
    top: -40px; */
    background-color: #ffffff;
    display: flex;
    width: 70%;
    margin-left: 15%;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  .search div p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    margin-bottom: 10px;
    padding-top: 30px;
  }
  
   .search div input {
    padding: 5px 5px;
    border-radius: 4px;
    background-color: #c4c4c466;
    border: none;
  }
  
  .search div option {
    padding: 5px 0px;
    border-radius: 4px;
    background-color: #c4c4c466;
    border: none;
  }
  
   .search .destination select{
    width: 150px;
  }
   .search div {
    margin-bottom: 40px;
  }
  
   .search button a {
    text-decoration: none;
    color: #ffffff;
    background-color: #3498db;
    border: 1px solid #3498db;
  }
  
   .search button {
    padding-top: 70px;
    background-color: #3498db;
    padding: 7px 20px;
    border: 1px solid #3498db;
  }
  .3{
    
  }